<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>珍岛集团</title>
	<meta name="keywords" content="珍岛集团">
	<meta name="description" content="珍岛集团">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="favicon.ico">
	
	<!-- include main css -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.min.css"/>

	<!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>
<body>
	<!--header-->
	<header class="header container">
    	    <p class="logo">
    	 	 	<a href="index.html"><img src="images/logo.png" alt="珍岛集团"></a>	
    	 	</p>
    	 	<span class="tigs"><a href="" class="active">CN</a><a href="">EN</a></span>
    	 	 <p class="pull-right">
    	     	<a href="javascript:;" id="search-btn"><img src="images/pro-icon.png"></a>
    	    </p>
    	 	<div class="search" id="search">
				  <div class="search-main" id="search-main">
						<img src="images/icon-closed.png" alt="" id="search-closed"/>
						<div class="search-container">
							<div class="search-controller">
								<input type="search" class="form-control" name="" id="search-text" placeholder="请输入关键字"  value="请输入关键字"/>
								<input type="button" id="" value=""  class="btn" />
							</div>
						</div>
					</div>
			</div>
    	 	<nav class="nav">
    	 		<ul>
    	 			<li><a href="index.html">首页</a></li>
    	 			<li><a href="about.html">公司概况</a>
    	 				<ul class="subnav">
    	 					<li><a href="about.html">公司介绍</a></li>
	    	     	  	 	<li><a href="qywh.html">企业文化</a></li>
	    	     	  	 	<li><a href="honor.html">荣誉资质</a></li>
    	 				</ul>
    	 			</li>
    	 			<li><a href="news.html">新闻中心</a>
	    	 			<ul class="subnav">
	    	 				<li><a href="news.html">公司新闻</a></li>
		    	     	  	<li><a href="news.html">行业资讯</a></li>
	    	 			</ul>
    	 			</li>
    	 			<li><a href="product.html">产品中心</a>
    	 				<ul class="subnav">
							<li><a href="product.htm">产业园区</a></li>
		    	     	  	<li><a href="product.html">垃圾焚烧</a></li>
							<li><a href="">垃圾中转</a></li>
							<li><a href="">垃圾清运</a></li>
							<li><a href="">污水处理</a></li>
							<li><a href="">光伏发电</a></li>
	    	 			</ul>
    	 			</li>
    	 			<li><a href="kjcx.html">科技创新</a>
    	 				<ul class="subnav">
		    	     	  	<li><a href="kjcx.html">专利技术</a></li>
							<li><a href="">技术交流</a></li>
	    	 			</ul>
    	 			</li>
    	 			<li><a href="dowland.html">下载中心</a></li>
    	 			<li class="active"><a href="contact.html">联系我们</a>
    	 				<ul class="subnav">
		    	     	  	<li><a href="contact.html">联系方式</a></li>
							<li><a href="job.html">招聘信息</a></li>
							<li><a href="message.html">在线留言</a></li>
	    	 			</ul>
    	 			</li>
    	 		</ul>
    	 	</nav>
	   		<a href="#mmenu" class="iconfont phone-nav">&#xe626;</a>
		   	
	</header>	
	
	<div class="page-banner">
		 <img src="images/contact-banner.jpg">
	</div>
	
	<div class="container page-current">
		  您当前的位置：<a href="index.html">首页</a> > <a href="contact.html">联系我们</a> > 招聘信息
	</div>
	<div class="container page-info">
		 <h2>招聘信息</h2> 
		 <p align="center">
		 	经过10余年的快速发展，珍岛深刻理解未来数字营销内容与技术的融合之势，积极引进优秀的互联网技术、营销策略及内容创意专家，先后从IBM、微软、华为等知名IT企业引进大量优秀人才，目前公司逾千人规模，上海作为总部，同步辐射北京、深圳、香港、江浙、内蒙等全国分/子公司，目前已服务企业数量达上万家。
		</p>
	</div>
	
	<div class="list-job">
		 <div class="container">
		 	  <div class="items">
		 	  	   <p class="tit active">信息技术经理</p>
		 	  	   <div class="txt" style="display: block;">
		 	  	   	    <p class="t1">网络金融信息部信息技术经理（系统运维方向），工作地点：上海。</p>  
		 	  	   	    <p>岗位职责：</p>
		 	  	   	    <p>
		 	  	   	    	1、负责保障已投产业务系统的平稳运行，以及系统运行中问题的处理；<br/>
							2、负责相关系统业务需求的整理，与内外部机构或部门保持良好沟通（或执行管理）包括：部门内部运营岗位、开发岗位、内外部客户、第三方运维维人员；<br/>
							3、编写相关手册、组织用户系统培训；<br/>
							4、协助完成相关系统或者运营流程制度及管理办法的编制；<br/>
							5、领导安排的其他相关工作；
		 	  	   	    </p>
		 	  	   	    <br/>
		 	  	   	    <p>任职要求：</p>
		 	  	   	    <p>
					 	 1、计算机科学与技术、计算机及应用、信息管理及信息系统、软件工程、软件测试等相关专业。本科（含）以上学历。具备计算机应用领域专业知识，掌握数据库应用方面技能，有交易系统维护和管理经验优先；<br/>
						  2、有一定的分析能力，具备良好的工作心态，能及时处理系统出现的问题；<br/>
						  3、了解金融信托或金融证券相关知识，掌握基础的证券以及财物会计知识；<br/>
						  4、具备优秀的沟通能力与文字编写能力；<br/>
						  5、通过相关资格考试者优先、了解恒生业务系统并有相关经验者优先；<br/>
						  6、有金融行业工作经验或同类岗位工作经验者优先；<br/>
						  7、责任心很重要。
		 	  	   	    </p>
		 	  	   	    <a href="mailto:eason.wang@71360.com" class="btn">提交简历</a>
		 	  	   </div>	
		 	  	   
		 	  	   <p class="tit">产品助理</p>
		 	  	   <div class="txt">
		 	  	   	    <p class="t1">网络金融信息部信息技术经理（系统运维方向），工作地点：上海。</p>  
		 	  	   	    <p>岗位职责：</p>
		 	  	   	    <p>
		 	  	   	    	1、负责保障已投产业务系统的平稳运行，以及系统运行中问题的处理；<br/>
							2、负责相关系统业务需求的整理，与内外部机构或部门保持良好沟通（或执行管理）包括：部门内部运营岗位、开发岗位、内外部客户、第三方运维维人员；<br/>
							3、编写相关手册、组织用户系统培训；<br/>
							4、协助完成相关系统或者运营流程制度及管理办法的编制；<br/>
							5、领导安排的其他相关工作；
		 	  	   	    </p>
		 	  	   	    <br/>
		 	  	   	    <p>任职要求：</p>
		 	  	   	    <p>
					 	 1、计算机科学与技术、计算机及应用、信息管理及信息系统、软件工程、软件测试等相关专业。本科（含）以上学历。具备计算机应用领域专业知识，掌握数据库应用方面技能，有交易系统维护和管理经验优先；<br/>
						  2、有一定的分析能力，具备良好的工作心态，能及时处理系统出现的问题；<br/>
						  3、了解金融信托或金融证券相关知识，掌握基础的证券以及财物会计知识；<br/>
						  4、具备优秀的沟通能力与文字编写能力；<br/>
						  5、通过相关资格考试者优先、了解恒生业务系统并有相关经验者优先；<br/>
						  6、有金融行业工作经验或同类岗位工作经验者优先；<br/>
						  7、责任心很重要。
		 	  	   	    </p>
		 	  	   	    <a href="mailto:eason.wang@71360.com" class="btn">提交简历</a>
		 	  	   </div>	
		 	  	   
		 	  	   <p class="tit">信托经理（互联网消费金融方向）</p>
		 	  	   <div class="txt">
		 	  	   	    <p class="t1">网络金融信息部信息技术经理（系统运维方向），工作地点：上海。</p>  
		 	  	   	    <p>岗位职责：</p>
		 	  	   	    <p>
		 	  	   	    	1、负责保障已投产业务系统的平稳运行，以及系统运行中问题的处理；<br/>
							2、负责相关系统业务需求的整理，与内外部机构或部门保持良好沟通（或执行管理）包括：部门内部运营岗位、开发岗位、内外部客户、第三方运维维人员；<br/>
							3、编写相关手册、组织用户系统培训；<br/>
							4、协助完成相关系统或者运营流程制度及管理办法的编制；<br/>
							5、领导安排的其他相关工作；
		 	  	   	    </p>
		 	  	   	    <br/>
		 	  	   	    <p>任职要求：</p>
		 	  	   	    <p>
					 	 1、计算机科学与技术、计算机及应用、信息管理及信息系统、软件工程、软件测试等相关专业。本科（含）以上学历。具备计算机应用领域专业知识，掌握数据库应用方面技能，有交易系统维护和管理经验优先；<br/>
						  2、有一定的分析能力，具备良好的工作心态，能及时处理系统出现的问题；<br/>
						  3、了解金融信托或金融证券相关知识，掌握基础的证券以及财物会计知识；<br/>
						  4、具备优秀的沟通能力与文字编写能力；<br/>
						  5、通过相关资格考试者优先、了解恒生业务系统并有相关经验者优先；<br/>
						  6、有金融行业工作经验或同类岗位工作经验者优先；<br/>
						  7、责任心很重要。
		 	  	   	    </p>
		 	  	   	    <a href="mailto:eason.wang@71360.com" class="btn">提交简历</a>
		 	  	   </div>	
		 	  	   
		 	  	   <p class="tit">产品助理</p>
		 	  	   <div class="txt">
		 	  	   	    <p class="t1">网络金融信息部信息技术经理（系统运维方向），工作地点：上海。</p>  
		 	  	   	    <p>岗位职责：</p>
		 	  	   	    <p>
		 	  	   	    	1、负责保障已投产业务系统的平稳运行，以及系统运行中问题的处理；<br/>
							2、负责相关系统业务需求的整理，与内外部机构或部门保持良好沟通（或执行管理）包括：部门内部运营岗位、开发岗位、内外部客户、第三方运维维人员；<br/>
							3、编写相关手册、组织用户系统培训；<br/>
							4、协助完成相关系统或者运营流程制度及管理办法的编制；<br/>
							5、领导安排的其他相关工作；
		 	  	   	    </p>
		 	  	   	    <br/>
		 	  	   	    <p>任职要求：</p>
		 	  	   	    <p>
					 	 1、计算机科学与技术、计算机及应用、信息管理及信息系统、软件工程、软件测试等相关专业。本科（含）以上学历。具备计算机应用领域专业知识，掌握数据库应用方面技能，有交易系统维护和管理经验优先；<br/>
						  2、有一定的分析能力，具备良好的工作心态，能及时处理系统出现的问题；<br/>
						  3、了解金融信托或金融证券相关知识，掌握基础的证券以及财物会计知识；<br/>
						  4、具备优秀的沟通能力与文字编写能力；<br/>
						  5、通过相关资格考试者优先、了解恒生业务系统并有相关经验者优先；<br/>
						  6、有金融行业工作经验或同类岗位工作经验者优先；<br/>
						  7、责任心很重要。
		 	  	   	    </p>
		 	  	   	    <a href="mailto:eason.wang@71360.com" class="btn">提交简历</a>
		 	  	   </div>	
		 	  	   
		 	  	   <p class="tit">信托经理（互联网消费金融方向）</p>
		 	  	   <div class="txt">
		 	  	   	    <p class="t1">网络金融信息部信息技术经理（系统运维方向），工作地点：上海。</p>  
		 	  	   	    <p>岗位职责：</p>
		 	  	   	    <p>
		 	  	   	    	1、负责保障已投产业务系统的平稳运行，以及系统运行中问题的处理；<br/>
							2、负责相关系统业务需求的整理，与内外部机构或部门保持良好沟通（或执行管理）包括：部门内部运营岗位、开发岗位、内外部客户、第三方运维维人员；<br/>
							3、编写相关手册、组织用户系统培训；<br/>
							4、协助完成相关系统或者运营流程制度及管理办法的编制；<br/>
							5、领导安排的其他相关工作；
		 	  	   	    </p>
		 	  	   	    <br/>
		 	  	   	    <p>任职要求：</p>
		 	  	   	    <p>
					 	 1、计算机科学与技术、计算机及应用、信息管理及信息系统、软件工程、软件测试等相关专业。本科（含）以上学历。具备计算机应用领域专业知识，掌握数据库应用方面技能，有交易系统维护和管理经验优先；<br/>
						  2、有一定的分析能力，具备良好的工作心态，能及时处理系统出现的问题；<br/>
						  3、了解金融信托或金融证券相关知识，掌握基础的证券以及财物会计知识；<br/>
						  4、具备优秀的沟通能力与文字编写能力；<br/>
						  5、通过相关资格考试者优先、了解恒生业务系统并有相关经验者优先；<br/>
						  6、有金融行业工作经验或同类岗位工作经验者优先；<br/>
						  7、责任心很重要。
		 	  	   	    </p>
		 	  	   	    <a href="mailto:eason.wang@71360.com" class="btn">提交简历</a>
		 	  	   </div>	
		 	  	   <p class="tit">产品助理</p>
		 	  	   <div class="txt">
		 	  	   	    <p class="t1">网络金融信息部信息技术经理（系统运维方向），工作地点：上海。</p>  
		 	  	   	    <p>岗位职责：</p>
		 	  	   	    <p>
		 	  	   	    	1、负责保障已投产业务系统的平稳运行，以及系统运行中问题的处理；<br/>
							2、负责相关系统业务需求的整理，与内外部机构或部门保持良好沟通（或执行管理）包括：部门内部运营岗位、开发岗位、内外部客户、第三方运维维人员；<br/>
							3、编写相关手册、组织用户系统培训；<br/>
							4、协助完成相关系统或者运营流程制度及管理办法的编制；<br/>
							5、领导安排的其他相关工作；
		 	  	   	    </p>
		 	  	   	    <br/>
		 	  	   	    <p>任职要求：</p>
		 	  	   	    <p>
					 	 1、计算机科学与技术、计算机及应用、信息管理及信息系统、软件工程、软件测试等相关专业。本科（含）以上学历。具备计算机应用领域专业知识，掌握数据库应用方面技能，有交易系统维护和管理经验优先；<br/>
						  2、有一定的分析能力，具备良好的工作心态，能及时处理系统出现的问题；<br/>
						  3、了解金融信托或金融证券相关知识，掌握基础的证券以及财物会计知识；<br/>
						  4、具备优秀的沟通能力与文字编写能力；<br/>
						  5、通过相关资格考试者优先、了解恒生业务系统并有相关经验者优先；<br/>
						  6、有金融行业工作经验或同类岗位工作经验者优先；<br/>
						  7、责任心很重要。
		 	  	   	    </p>
		 	  	   	    <a href="mailto:eason.wang@71360.com" class="btn">提交简历</a>
		 	  	   </div>	
		 	  	   
		 	  	   <p class="tit">信托经理（互联网消费金融方向）</p>
		 	  	   <div class="txt">
		 	  	   	    <p class="t1">网络金融信息部信息技术经理（系统运维方向），工作地点：上海。</p>  
		 	  	   	    <p>岗位职责：</p>
		 	  	   	    <p>
		 	  	   	    	1、负责保障已投产业务系统的平稳运行，以及系统运行中问题的处理；<br/>
							2、负责相关系统业务需求的整理，与内外部机构或部门保持良好沟通（或执行管理）包括：部门内部运营岗位、开发岗位、内外部客户、第三方运维维人员；<br/>
							3、编写相关手册、组织用户系统培训；<br/>
							4、协助完成相关系统或者运营流程制度及管理办法的编制；<br/>
							5、领导安排的其他相关工作；
		 	  	   	    </p>
		 	  	   	    <br/>
		 	  	   	    <p>任职要求：</p>
		 	  	   	    <p>
					 	 1、计算机科学与技术、计算机及应用、信息管理及信息系统、软件工程、软件测试等相关专业。本科（含）以上学历。具备计算机应用领域专业知识，掌握数据库应用方面技能，有交易系统维护和管理经验优先；<br/>
						  2、有一定的分析能力，具备良好的工作心态，能及时处理系统出现的问题；<br/>
						  3、了解金融信托或金融证券相关知识，掌握基础的证券以及财物会计知识；<br/>
						  4、具备优秀的沟通能力与文字编写能力；<br/>
						  5、通过相关资格考试者优先、了解恒生业务系统并有相关经验者优先；<br/>
						  6、有金融行业工作经验或同类岗位工作经验者优先；<br/>
						  7、责任心很重要。
		 	  	   	    </p>
		 	  	   	    <a href="mailto:eason.wang@71360.com" class="btn">提交简历</a>
		 	  	   </div>	
		 	  </div>
		 </div>
	</div>
	
	<div class="list-related-news clearfix">
		 <div class="container">
		 	  <div class="title">
		 	  	   <p>相关新闻</p>
		 	  	   <span>Related News</span>
		 	  </div> 
		 	  <ul>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">T-Site 5.0 网站内容管理系统始终秉承"精益求精、安全易用"的产品研发理念</a>
		 	  	 </li>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">可视化模版编辑等众多卓越功能体现了产品区别于其它系统的技术优势将产品与其它厂</a>
		 	  	 </li>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">访问限制等多项强大功能；同时系统具有灵活的产品架构严密的安全性</a>
		 	  	 </li>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">适合于各行各类的网站应用平台，是您身边必不可少的企业级智能建站系统</a>
		 	  	 </li>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">商提供的CMS系统拉开差距同时产品采用HTML5架构注重用户体验，有助于提高工作人员的使用效率</a>
		 	  	 </li>
		 	  </ul>
		 </div>
	</div>
	
	
	<!--footer-->
	<footer class="footer">
		    <section class="container">
		    	     <ul>
		    	     	<li class="first">
		    	     	  <p class="logo"><img src="images/logo.png"></p>
		    	     	  <p class="weixin"><img src="images/weixin.jpg"></p>
		    	     	  <p class="tel"><a href="tel:021-31265245">021-31265245</a></p> 
		    	    	</li>
	    	     	  	<li>
	    	     	  	 	<h3><a href="about.html">公司概况</a></h3>
	    	     	  	 	<a href="about.html">公司介绍</a>
	    	     	  	 	<a href="qywh.html">企业文化</a>
	    	     	  	 	<a href="honor.html">荣誉资质</a>
	    	     	  	</li>
	    	     	  	<li>
	    	     	  	 	<h3><a href="news.html">新闻中心</a></h3>
	    	     	  	 	<a href="news.html">公司新闻</a>
	    	     	  	 	<a href="news.html">行业资讯</a>
	    	     	  	</li>
	    	     	  	<li>
	    	     	  	 	<h3><a href="product.html">产品中心</a></h3>
							<a href="">产业园区</a>
	    	     	  	 	<a href="">垃圾焚烧</a>
							<a href="">垃圾中转</a>
							<a href="">垃圾清运</a>
							<a href="">污水处理</a>
							<a href="">光伏发电</a>
	    	     	  	</li>
	    	     	  	<li>
	    	     	  	 	<h3><a href="kjcx.html">科技创新</a></h3>
	    	     	  	 	<a href="kjcx.html">专利技术</a>
							<a href="">技术交流</a>
	    	     	  	</li>
	    	     	  	<li>
	    	     	  	 	<h3><a href="dowland.html">下载中心</a></h3>
	    	     	  	</li>
	    	     	  	<li>
	    	     	  	 	<h3><a href="contact.html">联系我们</a></h3>
	    	     	  	 	<a href="contact.html">联系方式</a>
							<a href="job.html">招聘新闻</a>
							<a href="message.html">在线留言</a>
	    	     	  	</li>
		    	    </ul>
		    </section>
	</footer>
	
	<section class="footer-copy">
		     <div class="container">
		     	  <div class="col-xs-6">版权所有©：上海珍岛环保发展有限公司 
		     	  	<select>
		     	  		<option><a href="">友情链接</a></option>
		    	 	  	<option><a href="">上海珍岛</a></option>
		    	 	  	<option><a href="">上海珍岛</a></option>
		    	 	  	<option><a href="">上海珍岛</a></option>
		     	  	</select> 
		     	  	<img src="images/yu.png"></div>
		     	  <div class="col-xs-6 info" align="right">
		     	  	   <a href="">法律公告</a>|<a href="">隐私保护</a>|<a href="contact.html">联系我们</a>
		     	  </div>
		     </div>
	</section>
	
	
	<!--Mmenu-->
	<nav id="mmenu" style="opacity: 0;">
     	<ul class="list-unstyled">
     		<li class="mm-selected"><a href="">EN</a></li>
 			<li><a href="index.html">首页</a></li>
 			<li><a href="about.html">关于我们</a>
 				<ul>
 					<li><a href="about.html">公司介绍</a></li>
	     	  	 	<li><a href="qywh.html">企业文化</a></li>
	     	  	 	<li><a href="honor.html">荣誉资质</a></li>
 				</ul>
 			</li>
 			<li><a href="news.html">新闻资讯</a>
	 			<ul>
	 				<li><a href="news.html">公司新闻</a></li>
    	     	  	<li><a href="news.html">行业资讯</a></li>
	 			</ul>
 			</li>
 			<li><a href="product.html">产品中心</a>
 				<ul>
					<li><a href="product.htm">电力设备</a></li>
    	     	  	<li><a href="product.html">轨道交通车辆用机电产品</a>
    	     	  		<ul>
    	     	  			<li><a href="product.html">用机电产品一</a></li>
    	     	  			<li><a href="product.html">用机电产品二</a></li>
    	     	  		</ul>
    	     	  	</li>
					<li><a href="">社会-公共系统</a></li>
			 	  	<li><a href="">电梯/自动扶</a></li>
			 	  	<li><a href="">工业自动化</a></li>
			 	  	<li><a href="">空调冷热系统</a></li>
			 	  	<li><a href="">家电 </a></li>
			 	  	<li><a href="">影像设备 </a></li>
			 	  	<li><a href="">半导体-器件 </a></li>
	 			</ul>
 			</li>
 			<li><a href="solution.html">解决方案</a>
 				<ul class="subnav">
    	     	  	<li><a href="">电力设备</a><li>
  					<li><a href="">社会-公共系统</a><li>
	 			</ul>
 			</li>
 			<li><a href="contact.html">联系我们</a>
 			</li>
 		</ul>
 	</nav>
<!--Include Js-->
<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://cdn.bootcss.com/jQuery.mmenu/5.6.1/js/jquery.mmenu.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>
<script>
	$(document).ready(function() {
	 	$('.items .tit:first').addClass('active');
	 	$('.items .tit').click(function() {
	 		$(this).next('.items .txt').slideToggle()
	
	 		.siblings('.items .txt').slideUp();
	
	 		$(this).toggleClass('active')
	
	 		.siblings('.items .tit').removeClass('active');
	
	 	});
	
	 });
</script>
</body>
</html>
