<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>珍岛集团</title>
	<meta name="keywords" content="珍岛集团">
	<meta name="description" content="珍岛集团">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="favicon.ico">
	
	<!-- include main css -->
	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/jquery.mmenu.all.min.css"/>

	<!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>
<body>
	
	<!--header-->
	<header class="header container">
    	    <p class="logo">
    	 	 	<a href="index.html"><img src="images/logo.png" alt="珍岛集团"></a>	
    	 	</p>
    	 	<span class="tigs"><a href="" class="active">CN</a><a href="">EN</a></span>
    	 	 <p class="pull-right">
    	     	<a href="javascript:;" id="search-btn"><img src="images/pro-icon.png"></a>
    	    </p>
    	 	<div class="search" id="search">
				  <div class="search-main" id="search-main">
						<img src="images/icon-closed.png" alt="" id="search-closed"/>
						<div class="search-container">
							<div class="search-controller">
								<input type="search" class="form-control" name="" id="search-text" placeholder="请输入关键字"  value="请输入关键字"/>
								<input type="button" id="" value=""  class="btn" />
							</div>
						</div>
					</div>
			</div>
    	 	<nav class="nav">
    	 		<ul>
    	 			<li><a href="index.html">首页</a></li>
    	 			<li><a href="about.html">关于我们</a>
    	 				<ul class="subnav">
    	 					<li><a href="about.html">公司介绍</a></li>
	    	     	  	 	<li><a href="qywh.html">企业文化</a></li>
	    	     	  	 	<li><a href="honor.html">荣誉资质</a></li>
    	 				</ul>
    	 			</li>
    	 			<li><a href="news.html">新闻资讯 </a>
	    	 			<ul class="subnav">
	    	 				<li><a href="news.html">公司新闻</a></li>
		    	     	  	<li><a href="news.html">行业资讯</a></li>
	    	 			</ul>
    	 			</li>
    	 			<li><a href="product.html">产品中心</a>
    	 				<ul class="subnav subnav-two">
							<li><a href="">电力设备</a></li>
					 	  	<li><a href="">轨道交通车辆用机电产品</a></li>
					 	  	<li><a href="">社会-公共系统</a></li>
					 	  	<li><a href="">电梯/自动扶</a></li>
					 	  	<li><a href="">工业自动化</a></li>
					 	  	<li><a href="">空调冷热系统</a></li>
					 	  	<li><a href="">家电 </a></li>
					 	  	<li><a href="">影像设备 </a></li>
					 	  	<li><a href="">半导体-器件 </a></li>
	    	 			</ul>
    	 			</li>
    	 			<li><a href="solution.html">解决方案</a>
    	 				<ul class="subnav">
		    	     	  	<li><a href="">电力设备</a><li>
	 	  					<li><a href="">社会-公共系统</a><li>
	    	 			</ul>
    	 			</li>
    	 			<li><a href="contact.html">联系我们</a></li>
    	 		</ul>
    	 	</nav>
	   		<a href="#mmenu" class="iconfont phone-nav">&#xe626;</a>
		   	
	</header>
	
	<div class="page-banner">
		 <img src="images/pro-banner.jpg">
	</div>
	<div class="page-current">
		<div class="container">
			  您当前的位置：<a href="index.html">首页</a> > <a href="product.html">产品中心</a> > 产业园区
		</div>
	</div>
	
	<div class="list-news-show container" style="background-color: #fff; padding-bottom: 0;">
		<div class="listps clearfix">
			 	<dl>
			 		<dt><img src="images/pro-img.png" class="vcenter"></dt>
			 		<dd>
			 			<h1>V8系列混凝土泵车SYM5163THBDS 21</h1>
			 			<p>专家快评：可连续泵送混凝土，确保混凝土整体成型，工程质量坚若磐石。混凝土布料通过泵车臂架管道完成，精确度高，浪费小。
			 			</p>
			 			<p>
			 				底盘桥数：2桥
			 			</p>
			 			<p>
			 				底盘品牌：三一
			 			</p>
			 			<p>
			 				臂架垂直高度：17.9m
			 			</p>
			 		</dd>
			 	</dl>
			 </div>
			 
			 <p class="title-2"><span>产品简介</span></p>
			 <br/>
			 <p>
			 	混凝土质量高
			 </p>
			 <p>
			 	采用尖端计量设备与技术，砂粒、石子、水泥、粉煤灰等原材料的计量精确，确保混凝土质量稳定。采用大功率搅拌机，混凝土经过充分搅拌，和易性好、强度大。
			 </p>
			 <br/>
			 <p>
			 	施工工艺好
			 </p>
			 <p>
			 	泵车可连续泵送混凝土，确保混凝土整体成型，工程质量坚若磐石。混凝土布料通过泵车臂架管道完成，精确度高，浪费小。
			 </p>
			 <br/>
			 <p>
			 	工程质量高
			 </p>
			 <p>
			 住房、水利、公路建设等工程采用现代化机械施工，工艺流程先进，可大幅提高工程的质量、安全性及使用寿命。
			 </p>
			 <br/>
			 <p>
			 	行驶轻巧
			 </p>
			 <p>
			泵车设计宽度、总重、高度均符合农村道路要求；搅拌车宽度仅2.3m，高度3.36m； 在狭窄崎岖的乡村道路上均可轻松行驶
			 </p>
			 <br/>
			 <p>
			 	施工灵活
			 </p>
			 <p>
			短臂架泵车，采用灵活的四节臂架设计，有限的场地空间亦可灵活施工，有效解决了城镇化建设中的住房、公路、水利施工难的问题。
			 </p>
			  <br/>
			 <p>
			 	安装快速
			 </p>
			 <p>
			搅拌站结构紧凑小巧，拆分后通过5台9.6m 的载货车即可转运。搅拌站积木式安装，本体占地面积仅为 15m×11m，现场安装速度快。
			 </p>
			 <ul class="list-page-news">
		  	   	  <li>
		  	   	  	<p>
		  	   	  		上一篇：<a href="">在云计算、大数据、人工智能全新理念和技术的推动下</a>
		  	   	  	</p>
		  	   	  </li>
		  	   	  <li>
		  	   	  	<p>
		  	   	  	上一篇：<a href="">在云计算、大数据、人工智能全新理念和技术的推动下</a>
		  	   	  	</p>
		  	   	  </li>
  	   		</ul>
			 
			 <p class="title-2"><span>产品询价</span></p>
			 <div class="list-message list-message-2 clearfix">
 	  	   	    	 <ul>
 	  	   	    	 	 <li>
 	  	   	    	 	 	<p class="li-1">
	 	  	   	    	 	 	<label><em>*</em>您的姓名：</label>
	 	  	   	    	 	 	<span>
	 	  	   	    	 	 		<input type="" name="" id="" value="" />
	 	  	   	    	 	 	</span>
	 	  	   	    	 	</p> 	
 	  	   	    	 	 </li>
 	  	   	    	 	 <li>
 	  	   	    	 	 	 <p class="li-1">
	 	  	   	    	 	 	<label><em>*</em>联系电话：</label>
	 	  	   	    	 	 	<span>
	 	  	   	    	 	 		<input type="" name="" id="" value="" />
	 	  	   	    	 	 	</span>
	 	  	   	    	 	</p> 	
 	  	   	    	 	 </li>
 	  	   	    	 	 <li>
 	  	   	    	 	 	 <p class="li-1">
	 	  	   	    	 	 	<label><em>*</em>电子邮箱：</label>
	 	  	   	    	 	 	<span>
	 	  	   	    	 	 		<input type="" name="" id="" value="" />
	 	  	   	    	 	 	</span>
	 	  	   	    	 	</p> 	
 	  	   	    	 	 </li>
 	  	   	    	 	 <li>
 	  	   	    	 	 	 <p class="li-1">
	 	  	   	    	 	 	<label><em>*</em>公司地址：</label>
	 	  	   	    	 	 	<span>
	 	  	   	    	 	 		<input type="" name="" id="" value="" />
	 	  	   	    	 	 	</span>
	 	  	   	    	 	</p> 	
 	  	   	    	 	 </li>
 	  	   	    	 	 <li class="li-2">
 	  	   	    	 	 	<textarea name="" rows="" cols="" placeholder="请填写相关内容，收到消息后我们会尽快给到您反馈~"></textarea>
 	  	   	    	 	 </li>
 	  	   	    	 	 <li>
 	  	   	    	 	 	 <p class="li-3">
	 	  	   	    	 	 	<label><em>*</em>验证码：</label>
	 	  	   	    	 	 	<span>
	 	  	   	    	 	 		<input type="" name="" id="" value="" />
	 	  	   	    	 	 	</span>
	 	  	   	    	 	 </p>
	 	  	   	    	 	 <img src="images/code.jpg"> <a href="">看不清，换一张</a>
 	  	   	    	 	 </li>
 	  	   	    	 	 <li  class="li-4">
 	  	   	    	 	 	<input type="submit" name="" id="" value="提交"  class="button"/>
 	  	   	    	 	 </li>
 	  	   	    	 </ul>
 	  	   	    </div>
			    <p class="title-2"><span>相关评价</span></p>
			    <div class="list-product">
		 	 		 <ul class="clearfix">
		 	 		 	<li>
			 	  	 	<a href="">
				 	  	 	<div class="box">
					 	  	 	<figure class="pic">
					 	  	 			<img src="images/pro-img2.jpg" class="vcenter">
					 	  	 	</figure>
					 	  	 	<p class="tit">工业物流系统</p>
					 	  	 	<p class="txt">高PV值超低粘度动密封以及齿轮研究设计等方面的技术优势</p>
				 	  	 	</div>
			 	  	 	</a>
			 	  	 </li>
			 	  	 <li>
			 	  	 	<a href="">
				 	  	 	<div class="box">
					 	  	 	<figure class="pic">
					 	  	 			<img src="images/pro-img2.jpg" class="vcenter">
					 	  	 	</figure>
					 	  	 	<p class="tit">工业物流系统</p>
					 	  	 	<p class="txt">高PV值超低粘度动密封以及齿轮研究设计等方面的技术优势</p>
				 	  	 	</div>
			 	  	 	</a>
			 	  	 </li>
			 	  	 <li>
			 	  	 	<a href="">
				 	  	 	<div class="box">
					 	  	 	<figure class="pic">
					 	  	 			<img src="images/pro-img3.jpg" class="vcenter">
					 	  	 	</figure>
					 	  	 	<p class="tit">神泉鲜活水开水器</p>
					 	  	 	<p class="txt">高PV值超低粘度动密封以及齿轮研究设计等方面的技术优势</p>
				 	  	 	</div>
			 	  	 	</a>
			 	  	 </li>
			 	  	 <li>
			 	  	 	<a href="">
				 	  	 	<div class="box">
					 	  	 	<figure class="pic">
					 	  	 			<img src="images/pro-img4.jpg" class="vcenter">
					 	  	 	</figure>
					 	  	 	<p class="tit">热能工程</p>
					 	  	 	<p class="txt">高PV值超低粘度动密封以及齿轮研究设计等方面的技术优势</p>
				 	  	 	</div>
			 	  	 	</a>
			 	  	 </li>
			 	  	 <li>
			 	  	 	<a href="">
				 	  	 	<div class="box">
					 	  	 	<figure class="pic">
					 	  	 			<img src="images/pro-img5.jpg" class="vcenter">
					 	  	 	</figure>
					 	  	 	<p class="tit">仪器仪表</p>
					 	  	 	<p class="txt">高PV值超低粘度动密封以及齿轮研究设计等方面的技术优势</p>
				 	  	 	</div>
			 	  	 	</a>
			 	  	 </li>
			 	  </ul>
			</div>
	</div>
	
	<div class="list-related-news clearfix">
		 <div class="container">
		 	  <div class="title">
		 	  	   <p>相关新闻</p>
		 	  	   <span>Related News</span>
		 	  </div> 
		 	  <ul>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">T-Site 5.0 网站内容管理系统始终秉承"精益求精、安全易用"的产品研发理念</a>
		 	  	 </li>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">可视化模版编辑等众多卓越功能体现了产品区别于其它系统的技术优势将产品与其它厂</a>
		 	  	 </li>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">访问限制等多项强大功能；同时系统具有灵活的产品架构严密的安全性</a>
		 	  	 </li>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">适合于各行各类的网站应用平台，是您身边必不可少的企业级智能建站系统</a>
		 	  	 </li>
		 	  	 <li>
		 	  	 	<span>[2017-01-17]</span><a href="">商提供的CMS系统拉开差距同时产品采用HTML5架构注重用户体验，有助于提高工作人员的使用效率</a>
		 	  	 </li>
		 	  </ul>
		 </div>
	</div>
	
	
	<footer class="footer">
		    <section class="container"><p class="menu">
		    	     	<a href="index.html"><img src="images/home-icon.png"></a>
		    	     	<a href="about.html">关于我们</a>
		    	     	<a href="news.html">新闻资讯</a>
		    	     	<a href="product.html">产品中心</a>
		    	     	<a href="solution.html">解决方案</a>
		    	     	<a href="contact.html">联系我们</a>
		    	     </p> <div class="contact">
		    	     	 <div class="col-xs-3">
		    	     	 	  <p>Telephone:</p>
		    	     	 	  <p class="tel"><a href="021-31265245">021-31265245</a></p>
		    	     	 	  <a href="contact.html" class="title">Contact Us</a>
		    	     	 </div>
		    	     	  <div class="col-xs-6">
		    	     	 	  <p class="name">上海珍岛机械设备有限公司</p>
		    	     	 	  <p>
		    	     	 	  	邮箱：<a href="mailto:Eason.wang@71360.com">Eason.wang@71360.com</a><br/>
								手机：<a href="tel:189 1610 1908">189 1610 1908</a><br/>
								地址：上海市虹口区水电路682号 天虹商务大厦6F、7F、16F、17F      
		    	     	 	  </p>
		    	     	 	
		    	     	 </div>
		    	     	 <img src="images/weixin.jpg" align="right">
		    	     </div>
		    </section>	     
	</footer>
	<section class="footer-copy">
		     <div class="container">
		     	  <span class="pull-right"><img src="images/yu.png"></span>版权所有©：上海珍岛环保发展有限公司 
	     	  	 <select>
	     	  		<option><a href="">友情链接</a></option>
	    	 	  	<option><a href="">上海珍岛</a></option>
	    	 	  	<option><a href="">上海珍岛</a></option>
	    	 	  	<option><a href="">上海珍岛</a></option>
	     	  	 </select> 
		     </div>
	</section>
	
	<!--Mmenu-->
	<nav id="mmenu" style="opacity: 0;">
     	<ul class="list-unstyled">
     		<li class="mm-selected"><a href="">EN</a></li>
 			<li><a href="index.html">首页</a></li>
 			<li><a href="about.html">关于我们</a>
 				<ul>
 					<li><a href="about.html">公司介绍</a></li>
	     	  	 	<li><a href="qywh.html">企业文化</a></li>
	     	  	 	<li><a href="honor.html">荣誉资质</a></li>
 				</ul>
 			</li>
 			<li><a href="news.html">新闻资讯</a>
	 			<ul>
	 				<li><a href="news.html">公司新闻</a></li>
    	     	  	<li><a href="news.html">行业资讯</a></li>
	 			</ul>
 			</li>
 			<li><a href="product.html">产品中心</a>
 				<ul>
					<li><a href="product.htm">电力设备</a></li>
    	     	  	<li><a href="product.html">轨道交通车辆用机电产品</a>
    	     	  		<ul>
    	     	  			<li><a href="product.html">用机电产品一</a></li>
    	     	  			<li><a href="product.html">用机电产品二</a></li>
    	     	  		</ul>
    	     	  	</li>
					<li><a href="">社会-公共系统</a></li>
			 	  	<li><a href="">电梯/自动扶</a></li>
			 	  	<li><a href="">工业自动化</a></li>
			 	  	<li><a href="">空调冷热系统</a></li>
			 	  	<li><a href="">家电 </a></li>
			 	  	<li><a href="">影像设备 </a></li>
			 	  	<li><a href="">半导体-器件 </a></li>
	 			</ul>
 			</li>
 			<li><a href="solution.html">解决方案</a>
 				<ul class="subnav">
    	     	  	<li><a href="">电力设备</a><li>
  					<li><a href="">社会-公共系统</a><li>
	 			</ul>
 			</li>
 			<li><a href="contact.html">联系我们</a>
 			</li>
 		</ul>
 	</nav>
<!--Include Js-->
<script src="http://apps.bdimg.com/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://cdn.bootcss.com/jQuery.mmenu/5.6.1/js/jquery.mmenu.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.placeholder.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){ $('input, textarea').placeholder(); });
</script>
<script>
	$(document).ready(function() {
var menuActive = $("#menu-scroll .cur").parent().index();
	$("#menu-scroll").slick({
		infinite: false,
		useTransform: true,
		slidesToShow:7,
		slidesToScroll:7,
		arrows:true,
//		prevArrow: '<button type="button" class="iconfont slick-prev">&#xe611;</button>',
//		nextArrow: '<button type="button" class="iconfont slick-next">&#xe612;</button>',
		responsive: [
		
			{
				breakpoint: 1240,
				settings: {
					slidesToShow: 4,
					slidesToScroll: 4,
				}
			},
			
			{
				breakpoint: 640,
				settings: {
					slidesToShow: 3,
					slidesToScroll: 3,
				}
			},
			
			{
				breakpoint: 500,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2,
				}
			},
			
			{
				breakpoint: 375,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1,
				}
			},
		]
	})
	$("#menu-scroll").slick("slickGoTo",menuActive);
	});
</script>
</body>
</html>
